.header {
    max-width: 1250px;
    margin: 0 auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    max-width: 1540px;
    z-index: 9;
    margin: auto 0;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 35px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #222222;
}

.navmenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navitem {
    margin-left: 5rem;
}

.navlink {
    white-space: pre;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.02em;
    color: var(--white);
    text-transform: uppercase;
}

.navlink:hover {
    color: var(--orange);
}

.navlogo {
    font-size: 2.1rem;
    font-weight: 500;
    color: #482ff7;
}

.logo {
    width: 160px;
    height: auto;
    @media(--desktop) {
        width: 204px;
    }
}

@media only screen and (max-width: 768px) {
    .navmenu {
        height: 100vh;
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: var(--dark-purple);
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        z-index: 9;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }
    .navmenu.active {
        left: 0;
    }
    .navitem {
        margin: 2.5rem 0;
    }
    .hamburger {
        display: block;
        cursor: pointer;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }
}

.footer {
    font-size: 1.5rem;
}