.testimony {
    width: 100%;
    background-color: #FAFAFA;
    margin: auto 0;
    list-style: none;
    &__container {
        @media (--desktop) {
            margin-right: auto;
            margin-left: auto;
        }
    }
    &__header {
        margin-top: 20px;
        margin-bottom: 45px;
    }
    h2 {
        margin: 29px;
        font-size: 24px;
        font-weight: 600;
        line-height: 34px;
        text-align: center;
    }
    p {
        margin-left: 29px;
        margin-right: 29px;
        font-size: 13px;
        font-weight: 400;
        line-height: 28px;
        text-align: center;
        @media (--desktop) {
            font-size: 13px;
            font-weight: 300;
            line-height: 28px;
        }
    }
}