.testimony {
    width: 100%;
    background-color: #FAFAFA;
    margin: auto 0;
    list-style: none;
    &__container {
        @media (--desktop) {
            margin-right: auto;
            margin-left: auto;
        }
    }
    &__header {
        margin-top: 20px;
        margin-bottom: 45px;
    }
    h2 {
        margin: 29px;
        font-size: 24px;
        font-weight: 600;
        line-height: 34px;
        text-align: center;
    }
    p {
        margin-left: 29px;
        margin-right: 29px;
        font-size: 13px;
        font-weight: 400;
        line-height: 28px;
        text-align: center;
        @media (--desktop) {
            font-size: 13px;
            font-weight: 300;
            line-height: 28px;
        }
    }
}

/* Acordion  */

.container {
    margin: 100px auto;
}

.accordion {
    background: $border;
    width: 100%;
    min-width: 950px;
    display: block;
    list-style-type: none;
    overflow: hidden;
    height: 200px;
    font-size: 0;
}

.items {
    display: inline-block;
    background-color: $list;
    border-right: $border 1px solid;
    width: 80px;
    height: 200px;
    overflow: hidden;
    position: relative;
    margin: 0;
    font-size: 16px;
    @include transition( all 0.4s 0.1s ease-in-out);
    &:hover {
        width: 450px;
        .social-links {
            a {
                &:before {
                    margin-left: -100px;
                }
                &:after {
                    margin-left: -5px;
                }
            }
        }
    }
    .paragraph {
        position: relative;
        width: 360px;
        margin-left: 80px;
        padding: 50px 0 0 10px;
        height: 200px;
        background: #fff;
        &_image {
            width: 15px;
            height: 15px;
        }
        h1 {
            font-size: 2.5em;
            margin-bottom: 10px;
        }
        p {
            font-size: 0.88em;
            line-height: 1.5em;
            padding-right: 30px;
        }
    }
}

.social-links {
    display: block;
    a {
        display: block;
        text-indent: -9999px;
        font-size: 0;
        line-height: 0;
        &:before, &:after {
            @include transition( all 0.4s 0.1s ease-in-out);
            width: 20px;
            height: 20px;
            position: absolute;
            text-indent: 0;
            padding-top: 90px;
            padding-left: 25px;
            display: block;
            font: normal 30px Genericons;
            color: $geneicons;
        }
        &:after {
            font-size: 48px;
            padding-left: 20px;
            padding-top: 80px;
            margin-left: 85px;
        }
    }
}