.hero {
    width: 100%;
    height: 100vh;
    background-color: var(--dark-purple);
    &__container {
        margin: 29px;
        color: var(--white)
    }
    &__header {
        margin-left: 50px;
    }
    &__title {
        width: 161px;
        height: 118px;
        margin-top: 115px;
        @media(--desktop) {
            position: absolute;
            width: 434.54px;
            height: 201.78px;
            left: 204.13px;
        }
    }
    &__description {
        width: 291px;
        height: 84px;
        margin-top: 80px;
        padding-bottom: 10px;
        ;
        @media(--desktop) {
            position: absolute;
            width: 434.54px;
            height: 201.78px;
            left: 204.13px;
            top: 15rem;
        }
    }
    h2 {
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 48px;
        /* or 133% */
        letter-spacing: -0.02em;
        @media(--desktop) {
            font-size: 58px;
            line-height: 70px;
        }
    }
    p {
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 28px;
        @media(--desktop) {
            font-size: 16px;
            line-height: 32px;
        }
    }
    &__button {
        position: absolute;
        width: 238px;
        height: 55px;
        padding: 12px 25px;
        outline: none;
        background: linear-gradient(93.31deg, #9469FE 0%, #FF79E0 48.96%, #FFBEA7 93.23%);
        color: #fff;
        border: 1px solid #7847F2;
        border-radius: 8px;
        cursor: pointer;
        &:hover {
            animation: pulse 1s;
            box-shadow: 1px -1px 25px 7px rgba(148, 105, 254, 0.75);
            transform: scale(0.98);
        }
        @keyframes pulse {
            0% {
                box-shadow: 0 0 0 0 var(--hover);
            }
        }
        @media(--desktop) {
            top: 25rem;
            left: 12.5rem;
        }
        &_description {
            width: 150px;
            margin-top: -5px;
            margin-left: -2rem;
            p {
                font-style: normal;
                font-weight: 600;
                font-size: 15px;
                line-height: 22px;
            }
        }
        &_container {
            width: 53px;
            height: 53px;
            background-color: rgba(0, 0, 0, 0.1);
            position: absolute;
            top: 0;
            right: 0;
            &:hover {
                background-color: rgba(0, 0, 0, 0.3);
            }
            &_arrow {
                width: 1rem;
                margin: auto;
                margin-top: 1rem;
            }
        }
    }
    &__floating {
        position: relative;
        &_yellow {
            @media(--desktop) {
                width: 17px;
                height: 98px;
                position: absolute;
                top: -3rem;
                right: 30rem;
            }
        }
        &_yellow_mob {
            width: 17px;
            height: 117px;
            position: absolute;
            top: -25rem;
            right: 3rem;
        }
        &_purple_mob {
            width: 18px;
            height: 74px;
            position: absolute;
            bottom: -22rem;
            left: 1rem;
        }
        &_pink_mob {
            width: 153px;
            height: 37px;
            position: absolute;
            right: 0;
            bottom: -20rem;
        }
        &_pink {
            width: 153px;
            height: 37px;
            top: -2rem;
            right: 0rem;
            position: absolute;
            @media(--desktop) {
                width: 265px;
                height: 49px;
                top: 35rem;
                right: 1rem;
                z-index: 9999;
            }
        }
        &_purple {
            width: 18.55px;
            height: 84px;
            position: absolute;
            top: 35rem;
            right: 1rem;
            @media(--desktop) {
                width: 28px;
                height: 103px;
                top: 40rem;
                left: 10rem;
            }
        }
        &_big_money {
            width: 98px;
            height: 110px;
            left: 42rem;
            bottom: 0;
            top: 35rem;
            position: absolute;
        }
        &_money {
            width: 80px;
            height: 64px;
            right: 10rem;
            top: 10rem;
            position: absolute;
        }
        &_star {
            width: 52px;
            height: 58px;
            right: 41rem;
            top: 17rem;
            position: absolute;
        }
        &_bg_hero {
            width: 566px;
            height: 609px;
            right: 10rem;
            top: 4.5rem;
            position: absolute;
        }
        &_elipse {
            width: 441px;
            height: 469px;
            right: 17rem;
            top: 14rem;
            position: absolute;
            z-index: 9999;
        }
        &_elipse_hero {
            width: 330px;
            height: 351px;
            left: -1rem;
            top: -1rem;
            position: absolute;
        }
    }
}